<h1>New Guitar</h1>
<form action="/guitars" method="post">
  <div>
    Name: <input type="text" name="Guitar Name">
  </div>
  <div>
    Price: <input type="text" name="Price">
  </div>
  <div>
    Description: <input type="text" name="Desc">
  </div>
  <input type="submit" value="Add Guitar">
</form>