<h1>New Guitar</h1>
<form action="/guitars" method="post">
  <div>
    Name: <input type="text" name="name">
  </div>
  <div>
    Price: <input type="text" name="price">
  </div>
  <div>
    Description: <input type="text" name="description">
  </div>
  <div>
    Image: <input type="text" name="image_url">
  </div>
  <input type="submit" value="Add Guitar">
</form>